<nav>
    <div class="container">
        <ul class="nav-ul">
            <div class="left-nav">
                <li>
                    <div class="nav-ul-a_container">
                        <a href="">Home</a>
                    </div>
                </li>
                <li>
                    <div class="nav-ul-a_container">
                        <a href="">Shop</a>
                    </div>
                </li>
            </div>
            <div class="right-nav">
                <li>
                    <div class="nav-ul-a_container">
                        <a href="/login">Login</a>
                    </div>
                </li>
                <li>
                    <div class="nav-ul-a_container">
                        <a href="/sign-up">Sign Up</a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</nav>