    <%- include('includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<header>
    <%- include('./includes/navigation.ejs') %> 
</header>
<main>
    <div class="form-container">
        <div class="message">
            <span class="succes-message"> <%= successMessage %>  </span>
        </div>
    </div>
</main>
<footer>

</footer>
<%- include('includes/end.ejs') %>